<div class="container menu">
    <div class="row">
        <div class="col-md-5">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header"><i class="fa fa-h-square bigicon">OSPITAL-PRO</i></legend>
                        <p class="login-box-msg">Registrar nuevo miembro</p>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="full-name" type="text" placeholder="Nombre completo" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-envelope bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="email" type="email" placeholder="correo@ejemplo.com" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-lock bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="password" type="password" placeholder="Contraseña" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="glyphicon glyphicon-log-in bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="repeat-password" type="password" placeholder="Repetir contraseña" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 text-center checkbox icheck">
                            <input type="checkbox" class="fa fa-square-o">Aceto <a href="#">terminos y condiciones</a>
                            </div>
                          </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Registrarme</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                    <div class="social-auth-links text-center">
                            <p>- OR -</p>
                            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i>Registrar con
                              Facebook</a>
                            <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i>Registrar con
                              Google+</a>
                    </div>
            </div>
        </div>
    </div>
  </div>
